<div class="flex justify-center text-xs md:text-base md:text-base/4.5">
  <ba-grid-header-element [title]="student"></ba-grid-header-element>
  <ba-grid-header-element [title]="alias"></ba-grid-header-element>
  <ba-grid-header-element [title]="gender"></ba-grid-header-element>
  <ba-grid-header-element [title]="age"></ba-grid-header-element>
  <ba-grid-header-element [title]="hairColor"></ba-grid-header-element>
  <ba-grid-header-element [title]="eyeColor"></ba-grid-header-element>
  <ba-grid-header-element [title]="height"></ba-grid-header-element>
  <ba-grid-header-element [title]="quirk"></ba-grid-header-element>
  <ba-grid-header-element [title]="quirkType"></ba-grid-header-element>
  <ba-grid-header-element [title]="affiliation"></ba-grid-header-element>
  <ba-grid-header-element [title]="occupation"></ba-grid-header-element>
  <ba-grid-header-element [classList]="mangaClass" [title]="manga"></ba-grid-header-element>
</div>
