<div class="pt-12">
  <ba-guess-input></ba-guess-input> 
  @if (won || giveUp || infiniteMode) {
    <ba-infinte-mode
      (infiniteMode)="onInfiniteModeChange($event)"
    ></ba-infinte-mode>
  }
  <ba-result
    [giveUp]="giveUp"
    [won]="won"
    [displayCopyButton]="!infiniteMode"
    [displayNextStudentCountdown]="!infiniteMode"
    [displayRefreshButton]="infiniteMode"
    [searchedStudent]="todaysStudent"
    [searchedStudentName]="todaysStudentName"
    (refresh)="onRefresh()"
  ></ba-result>
  @if (gameStarted) {
  <ba-grid></ba-grid>
  } @else {
  <ba-tutorial
    [displayCopyButton]="!infiniteMode"
    [displayRefreshButton]="infiniteMode"
  ></ba-tutorial>
  } @if ((!gameStarted || won || giveUp) && !infiniteMode) {
  <ba-yesterdays-student
    [student]="yesterdayStudent"
    [display]="true"
  ></ba-yesterdays-student>
  }
  @if (gameStarted && !won && !giveUp) {
    <ba-give-up
      (giveUp)="onGiveUpChange()"
    ></ba-give-up>
  }
</div>
