<div class="flex justify-center">
  <ba-grid-character
    [guess]="guess"
    [answer]="answer"
    [list]="list"
  ></ba-grid-character>
  <ba-grid-alias
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="100"
  ></ba-grid-alias>
  <ba-grid-gender
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="200"
  ></ba-grid-gender>
  <ba-grid-age
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="300"
  ></ba-grid-age>
  <ba-grid-hairColor
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="400"
  ></ba-grid-hairColor>
  <ba-grid-eyeColor
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="500"
  ></ba-grid-eyeColor>
  <ba-grid-height
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="600"
  ></ba-grid-height>
  <ba-grid-quirk
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="700"
  ></ba-grid-quirk>
  <ba-grid-quirk-type
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="800"
  ></ba-grid-quirk-type>
  <ba-grid-affiliation
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="900"
  ></ba-grid-affiliation>
  <ba-grid-occupation
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="1000"
  ></ba-grid-occupation>
  <ba-grid-manga
    [guess]="guess"
    [answer]="answer"
    [list]="list"
    [animationDelayMs]="1100"
  ></ba-grid-manga>
</div>
