<section class="flex justify-center items-center">
  <div class="md:w-140 w-80 p-1">
    <div
      class="w-full h-fit p-2 border ba-text-box-bg border-gray-300 rounded bg-black text-center"
    >
      <h1
        class="text-2xl font-bold text-white"
        i18n="
          My Hero Academia Wordle|Title of the game in the tutorial@@TutorialTitle"
      >
        My Hero Academia Wordle
      </h1>

      <p
        class="text-xl text-white"
        i18n="
          Guess today's My Hero Academia character!|First line of
          tutorial@@TutorialFirst"
      >
        Guess today's My Hero Academia character!
      </p>

      <p
        class="text-xl text-white"
        i18n="
          Green means same as searched character.|Second line of
          tutorial@@TutorialSecond"
      >
        <span class="correct-text font-bold">Green</span> means same as searched
        character.
      </p>

      <p
        class="text-xl text-white"
        i18n="
          Grey means different from searched character.|Third line of
          tutorial@@TutorialThird"
      >
        <span class="incorrect-text font-bold">Grey</span> means different from
        searched character.
      </p>

      <p
        class="text-xl text-white my-4"
        i18n="
          Type any character's name to begin.|Fourth line of
          tutorial@@TutorialFourth"
      >
        Type any character's name to begin.
      </p>

      @if (displayCopyButton) {
      <p
        class="text-xl text-white"
        i18n="Press to copy your score!|Fifth line of tutorial@@TutorialFifth"
      >
        Press <i class="material-icons">content_copy</i> to copy your score!
      </p>
      } @if (displayRefreshButton) {
      <p
        class="text-xl text-white"
        i18n="
          Press to guess a new character|Sixth line of tutorial@@TutorialSixth"
      >
        Press <i class="material-icons">refresh</i> to guess a new character!
      </p>
      }
    </div>
  </div>
</section>
